<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
	
	<div class="add-writer-box">
		<form id="addWriterForm" method="post" action="/admin/follow/add-writer">
			<table class="sign-up-table table table-bordered">
				<tr>
					<th>아이디<br></th>
						<td>
							<div class="d-flex">
								<input type="text" id="loginId" name="loginId" class="form-control" placeholder="아이디를 입력하세요.">
							</div>
						</td>
				</tr>
				<tr>
					<th>* 이메일</th>
					<td><input type="text" id="email" name="email" class="form-control" placeholder="이메일 주소를 입력하세요."></td>
				</tr>
			</table>
			<button type="submit" id="addWriterBtn" class="btn btn-primary float-right">작가 추가</button>
		</form>
	</div>
	
</section>

<th:block layout:fragment="script">
    <script>
    $(document).ready(function(){
    	$("#addWriterBtn").on('click', function(){
    		let loginId = $("#loginId").val().trim();
    		let email = $("#email").val().trim();
    		// alert(loginId, email)
    		
    		if(!loginId) {
				alert("아이디를 입력하세요");
				return false;
			}
    		
			if (!email) {
				alert("이메일을 입력하세요");
				return false;
			}
			
			$.ajax({
				// request
				type:"post"
				, url:"/admin/add-writer"
				, data:{"loginId": loginId, "email":email}
				
				// response
				, success:function(data) {
					if (data.code == 200) {
						alert("작가를 추가하였습니다.");
						location.href="/admin/admin-view";
					} else {
						alert(data.error_message);
					}
				}
				, error:function(e) {
					alert("작가 추가를 실패했습니다.");
				}
			});
			
    	});
    });
    
    </script>
</th:block>
<html>