<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="w-50">
		<h1>글목록</h1>
		<table class="table">
			<thead>
				<tr>
					<th>이메일</th>
					<th>작가</th>
					<th>작가추가날짜</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="adminView : ${AdminViewList}">
					<td th:text="${adminView.email}"></td>
					<td><a th:href="|/novel/novel-list-view?userId=${adminView.id}|" th:text="${adminView.loginId}"></a></td>
					<td th:text="${#temporals.format(adminView.createdAt, 'yyyy년 M월 d일 HH:mm:ss')}">2024-07-16</td>
					<td>
						<div class="d-flex justify-content-center">
							<button class="btn btn-success deleteWriterBtn" th:data-writer-id="${adminView.id}">작가 삭제</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		
		<div class="d-flex justify-content-end my-5">
			<a href="/admin/add-writer-view" class="btn btn-warning">작가 추가</a>
		</div>
	</div>
</section>

<th:block layout:fragment="script">
    <script>
    $(document).ready(function(){
		$(".deleteWriterBtn").on('click', function(){
			let WriterUserId = $(this).data("writer-id");
			// alert(WriterUserId);
			console.log(WriterUserId);
			
			$.ajax({
				// request
				type:"delete"
				, url:"/follow/delete"
				, data:{"WriterUserId":WriterUserId}
				,success:function(data) {
					if (data.code == 200) {
						alert("작가가 삭제되었습니다.");
						location.href="/admin/admin-view";
					} else {
						alert(data.error_message);
					}
				}
				, error:function(e) {
					alert("글을 삭제하는데 실패했습니다.");
				}
			});
		});
	});
    </script>
</th:block>
</html>