<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.novel.user.mapper.UserMapper">
 	<select id="selectUserListTest" resultType="map">
  		SELECT
 			*
 		FROM
 			`user`
 	</select>
 	
 	<select id="selectUserByLoginId" resultType="com.novel.user.domain.User">
 		SELECT
 			`id`
			,`loginId`
			,`password`
			,`name`
			,`email`
			,`type`
			,`createdAt`
			,`updatedAt`
		FROM	
			`user`
		WHERE
			`loginId` = #{loginId}
 	</select>
 	
 	<insert id="insertUser" parameterType="map">
 		INSERT INTO `user`
 		(
			`loginId`
			,`password`
			,`name`
			,`email`
			,`type`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
		(
			#{loginId}
			, #{password}
			, #{name}
			, #{email}
			, #{type}
			, NOW()
			, NOW()
		)
 	
 	</insert>
 	
 	<select id="selectUserByLoginIdPassword" parameterType="map" resultType="com.novel.user.domain.User">
 		SELECT
 			`id`
			,`loginId`
			,`password`
			,`name`
			,`email`
			,`type`
			,`createdAt`
			,`updatedAt`
		FROM	
			`user`
		WHERE
			`loginId` = #{loginId}
		AND
			`password` = #{password}
 	</select>
 </mapper>