<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="w-50">
		<h1>소설 제목</h1>
		<table class="table" >
			<thead>
				<tr>
					<th>No.</th>
					<th>제목</th>
					<th>작성날짜</th>
					<th>수정날짜</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="content : ${ContentList}">
					<td th:text="${content.id}"></td>
					<td th:text="${content.title}"></td>
					<td th:text="${#temporals.format(content.createdAt, 'yyyy년 M월 d일 HH:mm:ss')}">2024-07-16</td>
					<td th:text="${#temporals.format(content.updatedAt, 'yyyy년 M월 d일 HH:mm:ss')}">2024-07-16</td>
					<td>
						<div class="d-flex justify-content-center">
							<button class="btn btn-success contentBtn" th:data-novel-id="${novelId}" th:data-user-id="${content.userId}" th:data-content-id="${content.id}" th:data-title="${content.title}">글 확인</button>
						</div>
					</td>
					<td>
						<div class="d-flex justify-content-center">
							<button class="btn btn-success commentBtn" th:data-novel-id="${novelId}" th:data-user-id="${content.userId}" th:data-content-id="${content.id}" th:data-title="${content.title}">댓글 확인</button>
						</div>
					</td>
					<td>
						<div class="d-flex justify-content-center">
							<button class="btn btn-success memoBtn" th:data-novel-id="${novelId}" th:data-user-id="${content.userId}" th:data-content-id="${content.id}" th:data-title="${content.title}">메모 확인</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		
		<!-- 페이징 -->
		<div class="text-center">
			<a th:if="${prevId != 0}" th:href="|/content/content-list-view?prevId=${prevId}&novelId=${novelId}|" class="mr-5">&lt;&lt;이전</a>
			<a th:if="${nextId != 0}" th:href="|/content/content-list-view?nextId=${nextId}&novelId=${novelId}|">다음 &gt;&gt;</a>
		</div>
		
		
		<!-- 글쓰기 버튼 -->
		<div class="d-flex justify-content-end" th:if="${session.userType} == 1">
			<a class="btn btn-warning addBtn"  th:data-novel-id="${novelId}">글 추가</a>
		</div>
	</div>
</section>

<th:block layout:fragment="script">
    <script>
    $(document).ready(function() {
    	
    	
	    $(".addBtn").on('click', function(e){
	    	let novelId = $(this).data("novel-id");
	    	console.log(novelId)
			location.href="/content/content-detail-view?novelId="+novelId;
		});
	    
	    $(".contentBtn").on('click', function(e){
	    	let userId = $(this).data("user-id");
	    	let novelId = $(this).data("novel-id");
	    	let title = $(this).data("title");
	    	console.log(novelId)
	    	console.log(title)
			location.href="/content/content-detail-view?title="+title+"&novelId="+novelId+"&userId="+userId;
		});
	    
	    $(".commentBtn").on('click', function(e){
	    	let userId = $(this).data("user-id");
	    	let novelId = $(this).data("novel-id");
	    	let contentId = $(this).data("content-id");
	    	let title = $(this).data("title");
	    	console.log(novelId)
	    	console.log(title)
			location.href="/content/content-comment-view?title="+title+"&novelId="+novelId+"&contentId="+contentId;
		});
	    
	    $(".memoBtn").on('click', function(e){
	    	let userId = $(this).data("user-id");
	    	let novelId = $(this).data("novel-id");
	    	let contentId = $(this).data("content-id");
	    	let title = $(this).data("title")
	    	console.log(novelId)
	    	console.log(title)
			location.href="/content/content-memo-view?title="+title+"&novelId="+novelId+"&contentId="+contentId+"&userId="+userId;
		});
	    
	    
	});
    </script>
</th:block>
</html>