<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="w-50">
		<h1>글 추가</h1>
			<div>
				<div th:if="${title} == noTitle">
					<input type="text" id="titleNotInclude" class="form-control" placeholder="제목을 입력하세요">
					<textarea th:if="${title} == noTitle" rows="10" id="contentNotInclude" class="form-control" placeholder="줄거리를 입력하세요"></textarea>
					<button th:if="${title} == noTitle"  type="button" id="saveBtn" class="btn btn-warning" th:data-novel-id="${novelId}">저장</button>
				</div>
				<div th:each="content : ${ContentList}" th:unless="${title} == noTitle">
					<input type="text" id="titleInclude" class="form-control" th:value="${content.title}">
					<textarea  rows="10" id="contentInclude" class="form-control" th:text="${content.content}"></textarea>
					<button  th:if="${session.userType} == 1" type="button" id="editBtn" class="btn btn-warning" th:data-novel-id="${novelId}" th:data-content-id="${content.id}">수정</button>
				</div>
			</div>
			
		<div>
			<div class="d-flex">
				<div class="my-4 d-flex justify-content-start">
					<input type="file" id="file"> 
				</div>
			</div>
			<div class="d-flex justify-content-end">
				<div class="my-4">
					<a href="#" class="more-btn" data-toggle="modal" data-target="#modal">
						<button th:if="${session.userType} == 1" type="button" class="btn btn-warning timeBtn">시간 저장</button>
					</a>
					<button th:if="${session.userType} == 1" type="button" id="clearBtn" class="btn btn-warning">모두 지우기</button>
				</div>
			</div>
			
		</div>
	</div>
	
		<!-- Modal: 타임리프 레이아웃 때문에 section 태그 안쪽에 위치 -->
		<div class="modal fade" id="modal">
		<!-- modal-sm : 작은 모달창, modal-dialog-centered: 수직 가운데 정렬 -->
		  <div class="modal-dialog modal-sm modal-dialog-centered">
		    <div class="modal-content text-center">
		    	<div class="py-3">
		    		<span>몇 시간뒤 업로드 하실건가요?</span>
		    		<input id="LocalDateTimeBtn">
		    	</div>
		    	<div class="py-3 border-top d-flex justify-content-around">
		    		<a href="#" data-dismiss="modal">취소</a>
		    		<a href="#" data-dismiss="modal" id="updateBtn">저장</a>
		    	</div>
		    </div>
		  </div>
		</div>
		
</section>

<th:block layout:fragment="script">
    <script>
    $(document).ready(function() {
    	
    	
    	let contentIncludeValue = document.getElementById('contentInclude').value;
        console.log(contentInclude);
		let title = $("#titleInclude").val();
		console.log(title);
    	
		// 글쓰기
		$("#saveBtn").on('click', function() {
			let title = $("#titleNotInclude").val().trim();
			let content = $("#contentNotInclude").val();
			let novelId = $(this).data("novel-id");
			let uploadTime = $("#LocalDateTimeBtn").val().trim();
			
			if (!title) {
				alert("제목을 입력하세요");
				return;
			}
			
			if (!content) {
				alert("내용을 입력하세요");
				return;
			}
			
			console.log(title);
			console.log(content);
			console.log(novelId);
			console.log(uploadTime);
			
			// AJAX
			$.ajax({
				// request
				type:"post"
				, url:"/content/create"
				, data:{"title": title, "content":content, "novelId":novelId, "uploadTime":uploadTime}
				// response
				, success:function(data) {
					if (data.code == 200) {
						alert("새로운 글이 저장되었습니다.");
						location.href = "/content/content-list-view?novelId="+novelId;
					} else {
						alert(data.error_message);
					}
				}
				, error:function(e) {
					alert("글을 저장하는데 실패했습니다.");
				}
			});
		});
		
		
	
			
			
			
			$("#editBtn").on('click', function() {
				let title = $("#titleInclude").val();
				console.log(title)
				let content = $("#contentInclude").val();
				console.log(content);
				let novelId = $(this).data("novel-id");
				let contentId = $(this).data("content-id");
				console.log(contentId);
				let uploadTime = $("#LocalDateTimeBtn").val().trim();
				
				
				if (!title) {
					alert("제목을 입력하세요");
					return;
				}
				
				if (!content) {
					alert("내용을 입력하세요");
					return;
				}
				
				console.log(title);
				console.log(content);
				console.log(novelId);
				
				
				// AJAX
				$.ajax({
					// request
					type:"patch"
					, url:"/content/update"
					, data:{"title": title, "content":content, "novelId":novelId, "uploadTime":uploadTime, "contentId":contentId}
					// response
					, success:function(data) {
						if (data.code == 200) {
							alert("글이 수정되었습니다.");
							location.href = "/content/content-list-view?novelId="+novelId;
						} else {
							alert(data.error_message);
						}
					}
					, error:function(e) {
						alert("글을 저장하는데 실패했습니다.");
					}
			});
		});
		
		
		// 모두 지우기
		$("#clearBtn").on('click', function() {
			//alert("모두 지우기");
			$("#subject").val(""); // 내용 초기화
			$("#content").val(""); // 내용 초기화
		});
		
		
		$(".more-btn").on('click', function(e){
			e.preventDefault(); // a 태그 위로 올라감 방지
		});
		
	});
    
    </script>
</th:block>
</html>