<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="w-50">
		<h1>소설 제목</h1>
		<table class="table" >
			<thead>
				<tr>
					<th>No.</th>
					<th>제목</th>
					<th>작성날짜</th>
					<th>수정날짜</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr  th:each="content : ${ContentList}">
					<td th:text="${content.id}" th:data-novel-id="${content.novelId}">1</td>
					<td th:text="${content.title}"></td>
					<td th:text="${#temporals.format(content.createdAt, 'yyyy년 M월 d일 HH:mm:ss')}">2024-07-16</td>
					<td th:text="${#temporals.format(content.updatedAt, 'yyyy년 M월 d일 HH:mm:ss')}">2024-07-16</td>
					<td>
						<div class="d-flex justify-content-center">
							<button class="btn btn-success contentBtn" th:data-writer-id="${content.id}">글 확인</button>
						</div>
					</td>
					<td>
						<div class="d-flex justify-content-center">
							<button class="btn btn-success commentBtn" th:data-writer-id="${content.id}">댓글 확인</button>
						</div>
					</td>
					<td>
						<div class="d-flex justify-content-center">
							<button class="btn btn-success memoBtn" th:data-writer-id="${content.id}">메모 확인</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		
		<!-- 페이징 -->
		<div class="text-center">
			<a th:if="${prevId != 0}" th:href="|/post/post-list-view?prevId=${prevId}|" class="mr-5">&lt;&lt;이전</a>
			<a th:if="${nextId != 0}" th:href="'/post/post-list-view?nextId='+ ${nextId}">다음 &gt;&gt;</a>
		</div>
		
		
		<!-- 글쓰기 버튼 -->
		<div class="d-flex justify-content-end" th:if="${session.userType} == 1">
			<a class="btn btn-warning addBtn">글 추가</a>
		</div>
	</div>
</section>

<th:block layout:fragment="script">
    <script>
    $(document).ready(function() {
    	
    	let novelId = $(this).data("novel-id");
    	
	    $(".addBtn").on('click', function(e){
	    	console.log(novelId)
			// location.href="/content/content-detail-view?novelId="+novelId;
		});
	});
    </script>
</th:block>
</html>