<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="w-50">
		<h1>글목록</h1>
		
		<table class="table">
			<thead>
				<tr>
					<th>No.</th>
					<th>제목</th>
					<th>작성날짜</th>
					<th>수정날짜</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="novel : ${novelList}">
					<td th:text="${novel.id}">1</td>
					<td><a th:href="|/content/content-list-view?novelId=${novel.id}&userId=${novel.userId}|" th:text="${novel.title}"></a></td>
					<td th:text="${#temporals.format(novel.createdAt, 'yyyy년 M월 d일 HH:mm:ss')}">2024-07-16</td>
					<td th:text="${#temporals.format(novel.updatedAt, 'yyyy년 M월 d일 HH:mm:ss')}">2024-07-16</td>
				</tr>
			</tbody>
		</table>
		
		<!-- 페이징 -->
		<div class="text-center">
			<a th:if="${prevId != 0}" th:href="|/post/post-list-view?prevId=${prevId}novelId=${novel.id}|" class="mr-5">&lt;&lt;이전</a>
			<a th:if="${nextId != 0}" th:href="|/post/post-list-view?nextId=${nextId}novelId=${novel.id}|">다음 &gt;&gt;</a>
		</div>
		
		
		<!-- 글쓰기 버튼 -->
		<div class="d-flex justify-content-end" th:if="${session.userType} == 1">
			<a href="/novel/novel-add-view" class="btn btn-warning">글쓰기</a>
		</div>
	</div>
</section>

<th:block layout:fragment="script">
    <script>
    
    </script>
</th:block>
</html>